# Core framework
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.34

# Config management
python-dotenv==1.0.1

# Production WSGI server
gunicorn>=21.2

# Database driver (PostgreSQL)
psycopg2-binary>=2.9.9

# Migrations
Flask-Migrate>=4.0.4
Flask-Script==2.0.6

psutil==7.0.0
requests==2.32.5
