body{

    font-family: 'Courier New', Courier, monospace;margin: 2rem; }
h1 { margin-bottom: .5rem; }
.db-status.up {
    color: green !important;
    font-weight: bold !important;
    font-size: 1.2em !important; /* Bigger */
    margin-left: 10px;
}

.db-status.down {
    color: red !important;
    font-weight: bold !important;
    font-size: 1.4em !important;
    margin-left: 10px;
}
/* Smooth fade-out animation for flash messages */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.flash-container {
  max-width: 400px;   /* small width for floating box */
}
/* Smooth fade-out animation */
