{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container text-center p-4 bg-white rounded shadow mt-5">
    <h1>About This Project</h1>
    <p>This Flask DevOps Portfolio demonstrates:</p>
    <ul class="text-start">
        <li>Factory-based Flask app with Blueprints</li>
        <li>Postgres database integration with SQLAlchemy & Migrations</li>
        <li>Environment-based configuration</li>
        <li>Containerized Docker setup</li>
        <li>CI/CD preparation & Kubernetes readiness</li>
    </ul>
    <p class="mt-3">Author: Karan B</p>
</div>
{% endblock %}
